.header {
    display: grid;
    grid-template-columns: 5% auto;
}

.main {
    background-color: #999999;
}

.cardcontainer {
    background-color: #DDDDDD;
}

.collapsible {
    background-color: transparent;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    outline: none;
    cursor: pointer;
}

.collapsible-content {
    display:none;
}
